<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.GoodsMapper">
    <update id="passGoods" parameterType="string">
        update entity set isrelease = '审核通过' where eid = #{eid}
    </update>
    <update id="unpassGoods">
        update entity set isrelease = '审核不通过' where eid = #{eid}
    </update>

    <select id="selectAll" resultType="com.example.demo.pojo.Goods">
        select * from entity
    </select>
    <select id="selectGoodNum" resultType="java.lang.Integer">
        select count(*) from entity
    </select>
</mapper>







