<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ManagerMapper">

    <insert id="addManager" parameterType="com.example.demo.pojo.Manager">
        insert into manager_table (mid, musername, mpassword, memail)
        values (#{mid}, #{musername}, #{mpassword}, #{memail})
    </insert>
    <update id="updateManagerInf" parameterType="com.example.demo.pojo.Manager">
        update manager_table
        set mid = #{mid},
            musername = #{musername},
            mpassword = #{mpassword},
            memail=#{memail}
    </update>
    <delete id="deleteManagerInf" parameterType="string">
        delete
        from manager_table
        where mid = #{mid}
    </delete>
    <select id="selectManager" resultType="java.lang.Integer" parameterType="string">
        select musername and mpassword
        from manager_table
        where mpassword = #{mpassword}
          and musername = #{musername}
    </select>
    <select id="selectManagerNum" resultType="java.lang.Integer">
        select count(*)
        from manager_table
    </select>
    <select id="selectManagerInf" resultType="com.example.demo.pojo.Manager">
        select *
        from manager_table
    </select>
    <select id="selectManagerById" resultType="com.example.demo.pojo.Manager">
        select *
        from manager_table
        where mid = #{mid}
    </select>

</mapper>







