<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="selectUserList" resultType="com.example.demo.pojo.User">
        select * from user_table;
    </select>
    <select id="getUserByName" parameterType="String" resultType="com.example.demo.pojo.User">
        select * from user_table where uusername=#{uusername}
    </select>
</mapper>